@model ShipBobShipments.Models.Orders
@{
    ViewBag.Title = "Delete";
}
<script type="text/javascript">
    //NOTE: Should refactor to local scope
    window.chosenUser = @Html.Raw(Json.Encode(@ViewBag.ChosenUserDeleteObject));
    window.chosenOrder = @Html.Raw(Json.Encode(@ViewBag.ChosenOrdersDeleteObject));
</script>
<h2>Delete Order</h2>
<div ng-controller="UserInformationController">
    <h4>For User: {{currentUser.UserFirstName}}&nbsp;{{currentUser.UserLastName}}</h4>
    <div ng-controller="OrdersDeleteController">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TrackingId):
            </dt>
            <dd>
                {{currentOrder.TrackingId}}
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.RecipientName):
            </dt>
            <dd>
                {{currentOrder.RecipientName}}
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.StreetAddress):
            </dt>
            <dd>
                {{currentOrder.StreetAddress}}
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.City):
            </dt>
            <dd>
                {{currentOrder.City}}
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.State):
            </dt>
            <dd>
                {{currentOrder.State}}
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Zipcode):
            </dt>
            <dd>
                {{currentOrder.Zipcode}}
            </dd>
        </dl>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                <a href="/Orders?userId={{currentUser.UserID}}">Back to User's Order List</a>
            </div>
        }
    </div>
</div>
@section scripts{
    @Scripts.Render("~/JS/UserInformationController.js")
    @Scripts.Render("~/JS/OrdersDeleteController.js")
}
