@model ShipBobShipments.Models.Orders
@{
    ViewBag.Title = "Details";
}
<script type="text/javascript">
    //NOTE: Should refactor to local scope
    window.chosenUser = @Html.Raw(Json.Encode(@ViewBag.ChosenUserDetailsObject));
    window.chosenOrder = @Html.Raw(Json.Encode(@ViewBag.ChosenOrdersDetailsObject));
</script>
<div ng-controller="UserInformationController">
    <h2>Order Details</h2>
    <h4>For User: {{currentUser.UserFirstName}}&nbsp;{{currentUser.UserLastName}}</h4>
    <div ng-controller="OrdersDetailsController">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TrackingId):
            </dt>
            <dd>
                {{currentOrder.TrackingId}}
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.RecipientName):
            </dt>
            <dd>
                {{currentOrder.RecipientName}}
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.StreetAddress):
            </dt>
            <dd>
                {{currentOrder.StreetAddress}}
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.City):
            </dt>
            <dd>
                {{currentOrder.City}}
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.State):
            </dt>
            <dd>
                {{currentOrder.State}}
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Zipcode):
            </dt>
            <dd>
                {{currentOrder.Zipcode}}
            </dd>
        </dl>
        <p>
            <a href="/Orders/Edit?orderId={{currentOrder.OrderID}}">Edit Order</a> |
            <a href="/Orders?userId={{currentUser.UserID}}">Back to Order List</a>
        </p>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/JS/UserInformationController.js")
    @Scripts.Render("~/JS/OrdersDetailsController.js")
}

