@model IEnumerable<ShipBobShipments.Models.Orders>
@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">
    //NOTE: Should refactor to local scope
    window.chosenUser = @Html.Raw(Json.Encode(@ViewBag.ChosenUserDetailsObject));
    window.orderInfo = @Html.Raw(Json.Encode(@ViewBag.ChosenUserOrdersListObject));
</script>
<div ng-controller="UserInformationController">
    <h2>Orders List</h2>
    <h4>For User: {{currentUser.UserFirstName}}&nbsp;{{currentUser.UserLastName}}</h4>
    <div ng-controller="OrdersIndexController">
        <p>
            <a href="/Users">Back to Users</a>&nbsp;|
            <a href="/Orders/Create?userId={{currentUser.UserID}}">Create New Order</a>
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TrackingId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RecipientName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StreetAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Zipcode)
                </th>
                <th>
                    <label>Filter Orders:<input ng-model="searchInput" /></label>
                </th>
            </tr>
            <tr ng-repeat="order in orderList | filter:searchInput">
                <td>
                    {{order.TrackingId}}
                </td>
                <td>
                    {{order.RecipientName}}
                </td>
                <td>
                    {{order.StreetAddress}}
                </td>
                <td>
                    {{order.City}}
                </td>
                <td>
                    {{order.State}}
                </td>
                <td>
                    {{order.Zipcode}}
                </td>
                <td>
                    <a href="/Orders/Edit?orderId={{order.OrderID}}">Edit</a>&nbsp;|
                    <a href="/Orders/Details?orderId={{order.OrderID}}">Order Details</a>&nbsp;|
                    <a href="/Orders/Delete?orderId={{order.OrderID}}">Delete</a>
                </td>
            </tr>          
        </table>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/JS/UserInformationController.js")
    @Scripts.Render("~/JS/OrdersIndexController.js")
}
