@model ShipBobShipments.Models.User
@{
    ViewBag.Title = "Delete";
}
<script type="text/javascript">
    //NOTE: Should refactor to local scope
    window.chosenUser = @Html.Raw(Json.Encode(@ViewBag.ChosenUserDeleteObject));
</script>
<h2>Delete User</h2>
<div ng-controller="UserDeleteController">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserFirstName)
        </dt>
        <dd>
            {{currentUser.UserFirstName}}
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserLastName)
        </dt>
        <dd>
            {{currentUser.UserLastName}}
        </dd>
    </dl>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a href="/Users">Back to Users List</a>
        </div>
    }
</div>
@section scripts{
    @Scripts.Render("~/JS/UserDeleteController.js")
}
