@model IEnumerable<ShipBobShipments.Models.User>

@{
    ViewBag.Title = "Index";
}


<script type="text/javascript">
        window.jj = eval('@Html.Raw(@ViewBag.UserServerObject)');
</script>
@section scripts{


    <script src="~/JS/UserIndexController.js"></script>
}



<h2>Create User</h2>

<p>
    @Html.ActionLink("Create New User", "Create")
</p>


<div ng-controller="UserIndexController">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserLastName)
            </th>
            <th></th>
        </tr>

        <tr ng-repeat="user in userList">
            <td>
                {{user.UserFirstName}}
            </td>
            <td>
                {{user.UserLastName}}
            </td>
            <td>
                <a href="/Users/Edit?userId={{user.UserID}}">Edit</a>&nbsp;|&nbsp;
                <a href="/Users/Orders?userId={{user.UserID}}">Orders</a>&nbsp;|&nbsp;
                <a href="/Users/Delete?userId={{user.UserID}}">Delete</a>
            </td>
        </tr>

        @*@foreach (var item in Model) {
                <tr>
                   
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { userid = item.UserID }) |
                        @Html.ActionLink("Orders", "Orders", new { userid = item.UserID }) |
                        @Html.ActionLink("delete", "delete", new { userid = item.UserID })
                    </td>
                </tr>
          }*@

    </table>
</div>
&nbsp;
