@model IEnumerable<ShipBobShipments.Models.User>

@{
    ViewBag.Title = "Index";
}

@section scripts{
    <script src="~/JS/UserIndexController.js"></script>
}
<h2>Create User</h2>

<p>
    @Html.ActionLink("Create New User", "Create")
</p>
<div ng-controller="UserIndexController">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserLastName)
            </th>
            <th></th>
        </tr>

        <tr ng-repeat="user in userList">
            <td>
                {{user.UserFirstName}}
            </td>
            <td>
                {{user.UserLastName}}
            </td>
        </tr>
        @*@foreach (var item in model) {
                <tr>
                    <td>
                        @html.displayfor(modelitem => item.userfirstname)
                    </td>
                    <td>
                        @html.displayfor(modelitem => item.userlastname)
                    </td>
                    <td>
                        @html.actionlink("edit", "edit", new { userid = item.userid }) |
                        @html.actionlink("orders", "orders", new { userid = item.userid}) |
                        @html.actionlink("delete", "delete", new { userid = item.userid })
                    </td>
                </tr>
            }*@

    </table>
</div>

