@model IEnumerable<ShipBobShipments.Models.User>
@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">
    //NOTE: Should refactor to local scope
    window.userInfo = @Html.Raw(Json.Encode(@ViewBag.UserServerObject));
</script>
<h2>Users</h2>
<p>
    @Html.ActionLink("Create New User", "Create")
</p>
<label>Filter Users: <input ng-model="searchInput" /></label>
<div ng-controller="UserIndexController">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserLastName)
            </th>
            <th></th>
        </tr>
        <tr ng-repeat="user in userList | filter:searchInput">
            <td>
                {{user.UserFirstName}}
            </td>
            <td>
                {{user.UserLastName}}
            </td>
            <td>
                <a href="/Users/Edit?userId={{user.UserID}}">Edit</a>&nbsp;|
                <a href="/Users/Orders?userId={{user.UserID}}">Orders</a>&nbsp;|
                <a href="/Users/Delete?userId={{user.UserID}}">Delete</a>
            </td>
        </tr>
    </table>
</div>
@section scripts{
    <script src="~/JS/UserIndexController.js"></script>
}
